@using IdentityManager.ViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

@*<h1>@ViewData["Title"].</h1>*@
<h1>Forgot your Password?</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
            <h4>Enter your email</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
           
        </form>

    </div>
</div>

@*
    In order for validations to work we need to
    include the _ValidationScriptsPartial file for it to work
    on the client side
*@

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
 }
