@using IdentityManager.ViewModels
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"].</h1>

<form asp-controller="Account" asp-action="ResetPassword" role="form" method="post" class="form-horizontal" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <h4>Create a new password</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    @*put the Code in a hiddenn field to access it in the post method*@
    <input asp-for="Code" hidden/>
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Reset Password</button>
        </div>
    </div>
</form>

@*
    In order for validations to work we need to
    include the _ValidationScriptsPartial file for it to work
    on the client side
*@

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }